<!-- Image and text -->
<nav class="navbar navbar-light bg-light">
    <a class="navbar-brand" href="#">
      <img src="https://cdn4.iconfinder.com/data/icons/map-glyph/48/cinema-512.png" width="30" height="30" class="d-inline-block align-top" alt="">
      Movie Booking
    </a>
    <div class="form-inline">
        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </div>
    <div class="form-inline">
       <a routerLink="login"><label>login</label></a>
    </div>
  </nav>
 